/* src/components/CyclingText.module.css */

/* src/components/CyclingText.module.css */

.cyclingTextContainer {
    text-align: center;
    font-size: 2.2em;
    font-weight: 300;
    color: #a0a0a0; /* Color de texto base */
    min-height: 2.5em; /* Aumentado ligeramente para dar espacio al brillo */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    /* Asegúrate de que no haya un background-color que tape el brillo */
  }
  
  .cyclingPhrase {
    margin: 0;
    padding: 0;
    max-width: 90%;
    line-height: 1.4;
    /* Puedes añadir una sombra de texto base aquí si quieres un efecto más profundo */
    /* text-shadow: 0 0 5px rgba(0, 255, 255, 0.3); */
  }
  