.gearButton {
  position: fixed;
  bottom: 20px;
  right: -35px; /* Valor negativo para que se vea pegado al borde en pantallas pequeñas */
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.gearIcon {
  width: 20%;
  height: 20%;
  filter: drop-shadow(0 0 5px rgba(0, 170, 255, 0.7));
  /* La transición se aplica al icono para una animación suave */
  transition: transform 0.3s ease;
}

/* Cuando el mouse pasa sobre el botón, el icono rota */
.gearButton:hover .gearIcon {
  transform: rotate(30deg); /* <--- rotación más sutil */
}

.gearButton:focus {
  outline: none;
}




 

